<!DOCTYPE html>
<html>

<head>
  <title>{% if title %}{{ title }}{% else %}OnionShare Textboard{% endif %}</title>
  <link href="{{ static_url_path }}/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" rel="subresource" type="text/css" href="{{ static_url_path }}/css/style.css" media="all">
</head>

<body>

  <header class="clearfix">
    <img class="logo" src="{{ static_url_path }}/img/logo.png" title="OnionShare">
    <h1>{% if title %}{{ title }}{% else %}OnionShare Textboard{% endif %}</h1>
  </header>
  <noscript>
    <p>
      Chat <b>requires JavaScript</b>, so you must set your Tor Browser security
      level to <b>Safer</b> or <b>Standard</b> to join.
    </p>
  </noscript>

  <div class="textboard-container no-js">
    

    <div class="textboard-info-panel">
      <div class="textboard-threads-list">
        <h3>Current threads:</h3>
        <div class="textboard-list-wrapper">
          <a>XXXX</a>
          <a>YYYY</a>
        </div>
      </div>

      <a class="create-thread-link">[Create Thread]</a>

      <div class="create-thread-panel">
        <h3>Create Thread</h3>
        <form>
          <label for="create-thread-title">Title:</label>
          <input id="create-thread-title" name="thread-title" placeholder="Title" value="">
          <label for="create-thread-content">Content:</label>
          <textarea id="create-thread-content" placeholder="Content"></textarea>
          <button>Post</button>
        </form>
      </div>

    </div>

    <div class="threads-wrapper">

      <div class="thread">
        <div class="thread-main">
          <div class="post-info">
            <span class="thread-title">Example thread</span>
            <span>&middot;</span>
            <span class="post-time">12:00:00 SOMETMZONE</span>
            <span>&middot;</span>
            <span class="post-id">ID: XXXX</span>
            <span>&middot;</span>
            <a class="post-reply">Reply</a>
          </div>
          <span class="post-content">This thread is example for how textboard should look.</span>
        </div>

        <div class="thread-replies"></div>
      </div>
      
      <div class="thread">
        <div class="thread-main">
          <div class="post-info">
            <span class="thread-title">Example thread #2</span>
            <span>&middot;</span>
            <span class="post-time">15:14:54 SOMETMZONE</span>
            <span>&middot;</span>
            <span class="post-id">ID: YYYY</span>
            <span>&middot;</span>
            <a class="post-reply">Reply</a>
          </div>
          <span class="post-content">This thread is example for how textboard should look.
            Previous thread: >>>XXXX</span>
        </div>

        <div class="thread-replies">
          <div class="thread-post">
            <div class="post-info">
              <span class="post-time">15:14:54 SOMETMZONE</span>
              <span>&middot;</span>
              <span class="post-id">ID: YYZZ</span>
              <span>&middot;</span>
              <a class="post-reply">Reply</a>
            </div>
            <span class="post-content">stfu no one cares</span>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="chat-users">
      <div class="editable-username">
        <label for="username">Your username:</label>
        <input id="username" value="{{ username }}" />
        <p id="username-error"></p>
      </div>
      <ul id="user-list">
      </ul>
    </div>
    <div class="chat-wrapper">
      <div id="chat"></div>

      <div class="chat-form">
        <input type="text" id="new-message" name="new-message" placeholder="Type your message" />
      </div>

    </div> -->
  </div>
  <script src="{{ static_url_path }}/js/jquery-3.5.1.min.js"></script>
  <script src="{{ static_url_path }}/js/socket.io.min.js"></script>
  <script async src="{{ static_url_path }}/js/textboard.js"></script>
</body>

</html>
