__pycache__
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.eggs
dist
deb_dist
build
_build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST
env
onionshare-*.tar.gz
onionshare_*.snap
.flatpak-builder
OnionShare.flatpak

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# vim
*.swp

# tags
ctags
tags

# OSX
.DS_Store

# virtualenv
venv

# other
.vscode
onionshare.dist-info
desktop/onionshare/resources/tor
