language: python
sudo: required
dist: trusty
python:
  - "3.4"
  - "3.5"
# command to install dependencies
before_install: "sudo apt-get update; sudo apt-get install -y python3-nose python3-flask python3-stem python3-pyqt5"
install: ""
# command to run tests
script: nosetests3
