include LICENSE
include README.md
include BUILD.md
include version
include onionshare/index.html
include onionshare/404.html
include onionshare/strings.json
include onionshare_gui/images/logo.png
include onionshare_gui/images/drop_files.png
include onionshare_gui/images/server_stopped.png
include onionshare_gui/images/server_started.png
include onionshare_gui/images/server_working.png
include setup/onionshare.desktop
include setup/onionshare80.xpm
