include LICENSE
include README.md
include BUILD.md
include version
include onionshare/index.html
include onionshare/404.html
include onionshare/strings.json
include install/onionshare.desktop
include install/onionshare80.xpm
include images/*.png
include locale/*.json
