<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="static/style.css" />
    </head>
    <body>
        <div id="loading"></div>
        <div id="content">
          <h1><span id="basename"></span></h1>
          <div id="output"></div>
          <button class="button" id="copy-button">Copy URL</button>-
        </div>

        <script src="static/jquery-1.11.1.min.js"></script>
        <script src="static/onionshare.js"></script>
    </body>
</html>
