<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="static/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="metadata">
        <img id="logo" src="static/logo.png" />
        <div id="basename"></div>
        <div id="filesize">
          <span class="label"></span>
          <span class="value"></span>
        </div>
        <div id="filehash">
          <span class="label"></span>
          <span class="value"></span>
        </div>
        <div id="button-wrapper">
          <button class="button" id="copy-button">Copy URL</button>
        </div>
      </div>

      <ul id="log">
        <li id="loading">
          <img src="static/loader.gif" />
          <p class="calculating"></p>
        </li>
      </ul>
    </ul>
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="static/onionshare.js"></script>
  </body>
</html>
