#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/home/amnesia/Persistent/.onionshare_install/onionshare80.xpm
Name[en_US]=Install OnionShare
Exec=/usr/bin/gksudo /home/amnesia/Persistent/.onionshare_install/install.sh
Name=Install OnionShare
Icon=/home/amnesia/Persistent/.onionshare_install/onionshare80.xpm
