<!DOCTYPE html>
<html>

<head>
  <title>OnionShare: 401 Unauthorized Access</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href="{{ static_url_path }}/img/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" rel="subresource" type="text/css" href="{{ static_url_path }}/css/style.css" media="all">
</head>

<body>
  <div class="info-wrapper">
    <div class="info">
      <p><img class="logo" src="{{ static_url_path }}/img/logo_large.png" title="OnionShare"></p>
      <p class="info-header">401 Unauthorized Access</p>
    </div>
  </div>
</body>

</html>
