<!DOCTYPE html>
<html>
 <head>
    <title>OnionShare</title>
    <link href="{{ static_url_path }}/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" rel="subresource" type="text/css" href="{{ static_url_path }}/css/style.css" media="all">
  </head>
  <body>

    <header class="clearfix">
        <img class="logo" src="{{ static_url_path }}/img/logo.png" title="OnionShare">
        <h1>OnionShare</h1>
    </header>

    <div>
      <ul id="flashes" class="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </ul>
    </div>

    <div class="chat-container">
      <div class="chat-users">

      </div>
      <div class="chat-wrapper">
        <p class="chat-header">Chat Messages</p>

        <div id="chat"></div>

        <div class="chat-form">
          <p><input type="text" id="new-message" name="new-message" placeholder="Type your message"/></p>
          <p><button type="button" id="send-button" class="button">Send Message</button></p>
        </div>

      </div>
    </div>
    <script src="{{ static_url_path }}/js/jquery-3.4.0.min.js"></script>
    <script src="{{ static_url_path }}/js/socket.io.min.js"></script>
    <script async src="{{ static_url_path }}/js/chat.js"></script>
  </body>
</html>
