<!DOCTYPE html>
<html>
 <head>
    <title>OnionShare</title>
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <header class="clearfix">
        <img class="logo" src="/static/img/logo.png" title="OnionShare">
        <h1>OnionShare</h1>
    </header>

    <div class="upload-wrapper">
      <div class="upload">
        <p><img class="logo" src="/static/img/logo_large.png" title="OnionShare"></p>
        <p class="upload-header">Send Files</p>
        <p class="upload-description">Select the files you want to send, then click "Send Files"...</p>
        <form id="send" method="post" enctype="multipart/form-data" action="{{ upload_action }}">
           <p><input type="file" id="file-select" name="file[]" multiple /></p>
           <p><button type="submit" id="send-button" class="button">Send Files</button></p>
           <div>
             {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                 <ul class=flashes>
                 {% for category, message in messages %}
		 <li class="{{ category }}">{{ message }}</li>
                 {% endfor %}
                 </ul>
               {% endif %}
             {% endwith %}
           </div>
        </form>

        <noscript>
          <div class="noscript">
            <strong>Warning:</strong> Due to a bug in Tor Browser and Firefox, if you want to upload
            a file bigger than 50mb, you must set the Tor Browser security slider to
            Standard. Otherwise your upload will never finish. If you plan on
            only uploading small files, your current settings are fine.
          </div>
        </noscript>
      </div>
    </div>
    <script src="/static/js/receive.js"></script>
  </body>
</html>
