<!DOCTYPE html>
<html>

<head>
  <title>OnionShare</title>
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" rel="subresource" type="text/css" href="/static/css/style.css" media="all">
  <meta name="onionshare-filename" content="{{ filename }}">
  <meta name="onionshare-filesize" content="{{ filesize }}">
</head>

<body>

  <header class="clearfix">
    <div class="right">
      <ul>
        <li>Total size: <strong>{{ filesize_human }}</strong> {% if is_zipped %} (compressed){% endif %}</li>
        {% if slug %}
        <li><a class="button" href='/{{ slug }}/download'>Download Files</a></li>
        {% else %}
        <li><a class="button" href='/download'>Download Files</a></li>
        {% endif %}
      </ul>
    </div>
    <img class="logo" src="/static/img/logo.png" title="OnionShare">
    <h1>OnionShare</h1>
  </header>

  <table class="file-list" id="file-list">
    <tr>
      <th id="filename-header">Filename</th>
      <th id="size-header">Size</th>
      <th></th>
    </tr>
    {% for info in file_info.dirs %}
    <tr>
      <td>
        <img width="30" height="30" title="" alt="" src="/static/img/web_folder.png" />
        {{ info.basename }}
      </td>
      <td>{{ info.size_human }}</td>
      <td></td>
    </tr>
    {% endfor %}
    {% for info in file_info.files %}
    <tr>
      <td>
        <img width="30" height="30" title="" alt="" src="/static/img/web_file.png" />
        {{ info.basename }}
      </td>
      <td>{{ info.size_human }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  <script async src="/static/js/send.js" charset="utf-8"></script>
</body>

</html>
