<!DOCTYPE html>
<html>

<head>
  <title>OnionShare is closed</title>
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" rel="subresource" type="text/css" href="/static/css/style.css" media="all">
</head>

<body>
  <header class="clearfix">
    <img class="logo" src="/static/img/logo.png" title="OnionShare">
    <h1>OnionShare</h1>
  </header>

  <div class="info-wrapper">
    <div class="info">
      <p><img class="logo" src="/static/img/logo_large.png" title="OnionShare"></p>
      <p class="info-header">Thank you for using OnionShare</p>
      <p class="info-description">You may now close this window.</p>
    </div>
  </div>
</body>

</html>
