html, body {
  height: 100%;
}

body {
  color: #000000;
  font-family: arial;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  min-width: 550px;
  min-height: 300px;
}

#wrapper {
  position: relative;
  height: 100%;
}

#header {
  height: 80px;
  padding: 10px;
  background-color: #ffffff;
}
#header #logo {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
#header #header-content {
  float: left;
  width: 440px;
  height: 80px;
}
#header #header-content #basename {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
}
#header #header-content #filesize,
#header #header-content #filehash {
  margin-top: 5px;
  word-break: break-all;
  text-align: left;
  color: #666666;
  display: none;
}
#header #header-content .label {
  font-size: 12px;
}
#header #header-content .value {
  font-weight: bold;
  font-size: 12px;
}

ul#log {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  word-wrap: break-word;
  font-family: monospace;
  border-bottom: 1px solid #000000;
}
ul#log li {
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
ul#log .weblog {
  color: #009900;
  font-weight: bold;
}
ul#log .weblog .progress {
  color: #0000cc;
}

ul#log .weblog-error {
  color: #ff0000;
  font-weight: bold;
}

ul#log li#loading {
  text-align: center;
  padding: 60px 30px;
  border-bottom: 0;
}
ul#log li#loading .calculating {
  color: #666666;
  font-style: italic;
  font-size: 12px;
}
ul#log #close-countdown {
  font-weight: bold;
  font-style: italic;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  background-color: #ffffff;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #000000;
}
#footer #close-on-finish-wrapper {
  float: left;
  margin-left: 5px;
}
#footer #close-on-finish-wrapper input {
  cursor: pointer;
}
#footer #close-on-finish-wrapper label {
  cursor: pointer;
  font-size: 12px;
}

#footer #copy-button-wrapper {
  float: right;
  margin-right: 5px;
  margin-top: -3px;
}
#footer #copy-button {
  display: none;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
  box-shadow:inset 0px 1px 0px 0px #d197fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
  background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
  background-color:#a53df6;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #9c33ed;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #7d15cd;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
  background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
  background-color:#7c16cb;
}

.clear {
  clear: both;
}
