body {
  background-color: #ffffff;
  color: #000000;
  font-family: arial;
  width: 520px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 520px;
  height: 400px;
}

#metadata {
  float: left;
  width: 200px;
  height: 400px;
  padding: 10px;
}
#metadata #basename {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #000000;
  text-align: center;
  word-wrap: break-word;
}

ul#log {
  float: left;
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #e0e0e0;
  overflow: auto;
  word-wrap: break-word;
  font-family: monospace;
}
ul#log li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;
}
ul#log .weblog {
  color: #009900;
  font-weight: bold;
}

ul#log .weblog-error {
  color: #990000;
  font-weight: bold;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #b23e35;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}

#button-wrapper {
  text-align: center;
}
#copy-button {
  display: none;
}

#loading {
  width: 550px;
  height: 300px;
  background-color: #333333;
  background-image: url('/static/loader_large.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
