[Desktop Entry]
Encoding=UTF-8
Name=OnionShare
Comment=Share a file securely and anonymously over Tor
Exec=/usr/bin/onionshare-gui
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/onionshare80.xpm
Categories=Network;
