altgraph==0.16.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.11
MarkupSafe==1.0
packaging==17.1
pefile==2018.8.8
PyInstaller==3.4
pyparsing==2.2.0
pypiwin32==223
PyQt5==5.11.2
PySocks==1.6.8
python-dateutil==2.7.3
pywin32==223
requests==2.19.1
sip==4.19.8
six==1.11.0
stem==1.6.0
urllib3==1.23
Werkzeug==0.14.1
