altgraph==0.16.1
asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.11
MarkupSafe==1.0
pefile==2018.8.8
pycparser==2.18
pycryptodome==3.6.6
PyInstaller==3.4
PyNaCl==1.2.1
PyQt5==5.11.2
PyQt5-sip==4.19.12
PySocks==1.6.8
requests==2.19.1
six==1.11.0
stem==1.6.0
urllib3==1.23
Werkzeug==0.14.1
