[Desktop Entry]
Name=OnionShare
Exec=onionshare
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/onionshare.svg
Categories=Network;FileTransfer;
Keywords=tor;anonymity;privacy;onion service;file sharing;file hosting;
StartupNotify=true
StartupWMClass=onionshare
